body {
    margin: 0;
    padding: 0;
    background-color:#F0F0F0;
    color: #154360;
  }
  
  .gamecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    height: 70vh;
  }
  h1 {
    line-height: 1.1;
  }
  
  .playerturn{
    margin: 10px 0;
    padding: 10px;
    font:bolder;
    font-size: large;
  }
  .cellcontainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    background-color: #5dade2;
  }
  
  .cell{
    border: 1px solid black;
    width: 75px;
    height: 75px;
    font: bold;
    color: #154360;
    font-size: xx-large;
    font-family: inherit;
    cursor: pointer;
    background-color: bisque;
    
  }
  
  button{
    border: none;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .newgame{
    display: none;
  }
  .msg{
    margin: 10px 0;
    padding: 10px;
    font:bolder;
    font-size: large;
  }
  .resetbtn{
    width: 60px;
    height: 30px;
    padding: 10px;
    
}
.resetbtn button{
    padding: 10px;
    color: rgb(217, 223, 228);
    font: bolder;
    font-size: larger;
    border-radius: 5px;
    background-color: rgb(163, 28, 28);
  
  
  }
  
  
  